<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edición de productos</title>
    <link rel="stylesheet" href="/css/productsCreate.css">
</head>

<body>
    <header>
        <%-include('../partials/header.ejs')%>
    </header>

    <div class="formulario">
        <div class="errores">
            <ul class="err"></ul>
        </div>

        <form action="/products/edit/<%=product.idProduct%>" method="POST" enctype="multipart/form-data" class="formulario">
            <% if(typeof errors != 'undefined'){ %>
                <ul class="claseNueva">
                    <% for (let i = 0; i < errors.length; i++) { %>
                        <li style="color:red; padding-left: 20px;" class="claseNueva">
                            <%= errors[i].msg %>
                        </li>
                    <% } %> 
                </ul>
            <% } %>
            <div class="errores">
                <ul class="err"></ul>
            </div><br>
            <div class="registro">
                <input type="text" name="nombre" id="nombre" placeholder="Nombre de producto" value=<%=product.nombre%>>
                <input type="number" name="precio" id="precio" placeholder="Precio" value=<%=product.precio%>>
                <input type="text" name="categorias" id="categorias" placeholder="Categoria" value=<%=product.categorias%>>
                <input type="text" name="descripcion" id="descripcion" placeholder="Descripcion" value=<%=product.descripcion%>>
                <input type="file" name="imagen" id="imagen" placeholder="Imagen" value=<%=product.imagen%> required>
            </div>

    </div>
    </div>

    <div class="buttons">
        <input type="submit" value="Editar producto" class="btn">
    </div>

    </form>

<form action="/products/delete/<%=product.idProduct%>"method="POST" style="display: flex;justify-content: center;">
    <button type="submit" class="btn"> Eliminar producto
    </button>
</form>
<br><br>


    <footer>
        <%-include('../partials/footer.ejs')%>
    </footer>


</body>

</html>
